.notFound-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-notfound {
    color: white !important;
    background-color: #93c021;
    border-color: #93c021;
}

.btn-notfound:hover, .btn-notfound:focus, .btn-notfound:active {
    color: #93c021 !important;
    background-color: transparent;
    border-color: #93c021;
    box-shadow: 0 0 2px #888;
}

.btn-notfound:focus, .btn-notfound:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(147, 192, 33, 0.4);
}

.row {
    cursor: default;
}

.sentmsg {
    text-align: center;
}


.container {
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
