<div class="container-fluid p-0 bg">
    <div class="center">
        <div class="row">
            <div class="col-12 h-25 d-flex justify-content-center align-items-center">
                <h1>{{ '404Error' | translate}}</h1>
            </div>
            <div class="col-12 h-25 d-flex justify-content-center align-items-center notFound-btn">
                <a type="button" class="btn btn-dark btn-notfound" routerLink='/'>
                    <fa-icon [icon] = "homeIcon"></fa-icon>
                  {{'navBar.home' | translate}}
                </a>
            </div>
        </div>
    </div>
</div>

