<div class="container-fluid p-0 bg" *ngIf="loaded">
  <div class="container">
    <div class="content-lg p-5 content-container">
      <div class="row w-100 m-0 panel-container">
        <div class="row profile-margin">
          <div class="profile-container">
            <div class="profilePictureContainer">
              <div id="profile-image">
                <div *ngIf="user.avatarUrl.length == 0; else userPic">
                  <img alt="ProfileImage" src="assets/images/profilePic.png" class="profilePic">
                </div>
                <ng-template #userPic>
                  <img alt="ProfileImage" src="{{ user.avatarUrl+change }}" class="profilePic">
                </ng-template>
              </div>
              <form>
                <input [formControl]="userImage" name="userImage" class="inputFiles" type="file"
                       accept=".png,.jpg,.jpeg,.gif"
                       #inputFile hidden (change)="profileImageChanged($event)"/>
                <button type="button" id="changeImageBtn" [disabled]="disable" (click)="inputFile.click()"
                        style="line-height: initial"
                        class="d-flex align-items-center justify-content-center changeImgBtn">
                  <span *ngIf="!disable">
                  <fa-icon [icon]=cameraIcon class="editBtn" aria-hidden="true" style="padding-top: 5px;padding-bottom: 6px;"></fa-icon>
                  </span>
                  <span class="spinner-border spinner-border-sm" [hidden]="!disable"></span>
                </button>
              </form>
            </div>
            <h3 id="username">
              {{ user.username }}
            </h3>
            <div class="container-date" style="margin-top: 30px; margin-bottom: 30px;">
              <p style="text-align: center">
                {{ 'profile.card.member' | translate : {date: user.dateCreated} }}
              </p>
              <p *ngIf="user.roles.includes('MANAGER')" style="text-align: center; color: #34633a">
                <fa-icon [icon]=managerIcon style="margin-right: 2px"
                         aria-hidden="true"></fa-icon>
                {{'profile.manager' | translate}}</p>
              <p *ngIf="user.roles.includes('ADMIN')" style="text-align: center; color: #cda434">
                <fa-icon [icon]=adminIcon
                         style="margin-right: 2px"
                         aria-hidden="true"></fa-icon>
                Admin
              </p>
              <p *ngIf="user.roles.includes('BANNED')" style="text-align: center; color: red">
                <fa-icon [icon]=bannedIcon style="margin-right: 2px" aria-hidden="true"></fa-icon>
                {{'profile.banned' | translate}}</p>
            </div>

            <div *ngIf="user.roles.includes('ADMIN')" style="display: flex; justify-content: center">
              <a type="button" [routerLink]="['/adminPanel']"
                 class="btn btn-outline-dark btnAdminPanel">
                <fa-icon [icon]=adminPanelIcon aria-hidden="true"></fa-icon>
                {{'admin.panel.title' | translate}}
              </a>
            </div>

            <div style="display: flex; justify-content: center; padding-bottom: 30px;">
              <!--              TODO cuando se clickea se ve feo-->
              <a type="button"
                 (click)="logout()"
                 class="btn btn-outline-dark btnClose">
                {{ 'profile.logoutBtn' | translate }}
              </a>
            </div>
            <div class="btn-group" role="group" style="padding-left: 14px;">
              <input type="radio" (click)="showRecipes()" class="btn-check" name="btnradio"
                     id="recipesButton"
                     autocomplete="off" checked>
              <label class="btn btn-outline-dark btn-list" for="recipesButton">
                {{ 'profile.recipes' | translate }}
              </label>

              <input type="radio" (click)="showFavourites()" class="btn-check" name="btnradio"
                     id="favoritesButton"
                     autocomplete="off">
              <label class="btn btn-outline-dark btn-list" for="favoritesButton"><i class="fa fa-heart"
                                                                                    aria-hidden="true"></i>
                {{ 'profile.fav' | translate }}
              </label>
            </div>

            <div id="authored-recipes" style="display: block">
              <div class="row align-items-center justify-content-center container-fluid" style="padding-left: 0;padding-right: 0;margin-right: 0;margin-left: 0;">
                <div class="col-12 p-0">
                  <div class="container-fluid p-0" style="margin-bottom: 100px;">
                    <div class="row align-items-center justify-content-center w-100 m-0">
                      <div *ngIf="recipePr.results.length == 0; else showRec">
                        <div class="empty-msg">
                          <p>{{ 'profile.emptyRec' | translate }}</p>
                        </div>
                      </div>
                      <ng-template #showRec>
                        <div class="container-fluid p-0" style="margin-bottom: 100px;">
                          <div class="row align-items-center justify-content-center w-100 m-0">
                            <div class="col-12 mt-3 col-md-12 col-lg-6 col-xl-4 col-xxl-4 mb-4 mb-md-0 align-items-center justify-content-center" *ngFor="let recipe of recipePr.results">
                              <app-recipe-card *ngIf="loadedRecipes" [recipe] = recipe ></app-recipe-card>
                            </div>
                          </div>
                        </div>
                        <app-pagination *ngIf="recipePr.pages>1"
                                        (changePage)="onRecipePageChange($event)"
                                        [current]="recipePq.page"
                                        [pages]="recipePr.pages">
                        </app-pagination>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="favorites" style="display: none">
              <div class="row align-items-center justify-content-center container-fluid" style="padding-left: 0;padding-right: 0;margin-right: 0;margin-left: 0;">
                <div class="col-12 p-0">
                  <div class="container-fluid p-0" style="margin-bottom: 100px;">
                    <div class="row align-items-center justify-content-center w-100 m-0">
                      <div *ngIf="favePr.results.length == 0; else showFav">
                        <div class="empty-msg">
                          <p>{{ 'profile.emptyFavs' | translate }}</p>
                        </div>
                      </div>
                      <ng-template #showFav>
                        <div class="container-fluid p-0" style="margin-bottom: 100px;">
                          <div class="row align-items-center justify-content-center w-100 m-0">
                            <div class="col-12 mt-3 col-md-12 col-lg-6 col-xl-4 col-xxl-4 mb-4 mb-md-0 align-items-center justify-content-center" *ngFor="let recipe of favePr.results">
                              <app-recipe-card *ngIf="loadedFavourites" [recipe] = recipe ></app-recipe-card>
                            </div>
                          </div>
                        </div>
                        <app-pagination *ngIf="favePr.pages>1"
                                        (changePage)="onFavePageChange($event)"
                                        [current]="favePq.page"
                                        [pages]="favePr.pages">
                        </app-pagination>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

