 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.1);
}

li {
    float: right;
}

li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo-container {
    float: left;
    padding: 0;
}

li a:hover {
    color: #93c021 !important;
}

.logo {
    float: left;
    margin: 5px;
}

.ba {
    padding: 0px;
}

.b2 {
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.btn-group-sm > .btn, .btn-sm {
    font-size: 20px !important;
}

.b3 {
    color: white !important;
}

.nav-btn-reg {
    border-color: black;
    color: black !important;
    background-color: transparent !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.nav-btn-log {
    border-color: #93c021;
    color: white !important;
    background-color: #93c021;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.nav-btn-log:hover, .nav-btn-reg:hover, .nav-btn-log:active, .nav-btn-log:focus, .nav-btn-reg:active, .nav-btn-reg:focus {
    border-color: #93c021;
    color: #93c021 !important;
    background-color: transparent !important;
}

.nav-btn-log:focus,
.nav-btn-log:active:focus,
.nav-btn-reg:focus,
.nav-btn-reg:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(147, 192, 33, 0.4);
}
