.panel-container {
    font-size: medium;
    background: whitesmoke;
    display: block;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 70%;
}

#loadingUnban {
    display: none;
}

.btn-ban {
    background-color: transparent;
    border-color: black;
    color: black;
    min-width: 8em;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-ban:hover, .btn-ban:active, .btn-ban:focus {
    color: red !important;
    background-color: transparent !important;
    border-color: red !important;
}

.unban-btn:focus, .unban-btn:active:focus, .btn-ban:focus, .btn-ban:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.4);
}

.unban-btn:hover, .unban-btn:focus, .unban-btn:active {
    background-color: transparent;
    color: red;
    border-color: red;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem transparent;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-user {
    width: 50%;
}

.titles {
    margin-left: 20px;
}

.main-title {
    margin-top: 20px;
}

a.user-profile {
    color: #93c021 !important;
}

a.user-profile:hover, .user-profile:active {
    color: black !important;
}

.panel-box {
    margin-left: 0;
}

.panel-display {
    display: inline-block;
}


.dropdown-toggle[aria-expanded="true"], .order-dropdown-btn:focus {
    background-color: transparent !important;
}


.list-dropdown {
    float: none;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-item:active {
    background-color: transparent;
}

.dropdown {
    margin-left: 20px;
    margin-right: 20px;
}


.order-dropdown-btn {
    text-decoration: none !important;
    border-color: transparent;
    color: black;
}

.order-dropdown-btn:hover,
.order-dropdown-btn:focus,
.order-dropdown-btn:active{
    text-decoration: none !important;
    box-shadow: 0 0 0 0 transparent;
    color: black;
}

.fa-sort-amount-desc {
    color: #93c021;
}

.order-choice {
    font-weight: normal;
    font-size: medium;
}

.form-order-input {
    color: #93c021;
}

.form-order-input:checked {
    color: #93c021;
}

.form-order-input:checked ~ .form-order-input::before {
    background-color: #93c021;
}

.orderBy-label {
    display: block;
}

.nav-link {
  color: #aaa !important;
  border-color: #aaa;
}

.nav-link.active {
  color: white !important;
  background-color: #93c021 !important;
  border-color: #93c021 !important;
}
