<div class="center">
  <div class="row">
    <div class="col-12 h-25 d-flex justify-content-center align-items-center">
      <h1>{{'verif.resent.msg' | translate}}</h1>
    </div>
    <div class="col-12 h-25 d-flex justify-content-center align-items-center">
      <h3>{{'verif.check' | translate}}</h3>
    </div>
    <div class="col-12 h-25 d-flex justify-content-center align-items-center">
                        <a type="button" class="btn btn-resend btn-dark btn-notfound" [routerLink]="['/']">
                            <fa-icon [icon] = homeIcon></fa-icon>
                            {{'navBar.home' | translate}}
                        </a>
                    </div>
  </div>
</div>
