<div class="container-fluid">
  <div class="container-lg p-5 content-container" style="min-height: 75%" *ngIf="onSuccess; else elseBlock">
    <div class="row w-50 m-0 align-items-center justify-content-center register-container">
      <div class="col-12">
        <h1 class="text-center title">
          {{'reset.newPass' | translate}}
        </h1>
      </div>
      <div class="col-12" *ngIf="!done;else doneBlock">
        <div class="container-fluid px-0">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"
                style="margin-bottom:0;">
            <div class="row">
              <div class="col-12 align-items-center justify-content-center">
                <label class="form-label">
                  {{'reset.password.newPass' | translate}}
                </label>
                <div class="input-group justify-content-start align-items-center">
                  <input formControlName="password" type="password" class="form-control" autocomplete="on"/>
                  <span
                    *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
                        <span *ngIf="resetPasswordForm.get('password').errors['required']" class="formError">
                          {{'Size.registerForm.password' | translate: {min: minPassLength, max: maxPassLength} }}
                        </span>
                        <span *ngIf="resetPasswordForm.get('password').errors['maxlength']" class="formError">
                        {{'Size.registerForm.password.max' | translate: {max: maxPassLength} }}
                        </span>
                        <span *ngIf="resetPasswordForm.get('password').errors['minlength']" class="formError">
                        {{'Size.registerForm.password.min' | translate: {min: minPassLength} }}
                        </span>
                      </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 align-items-center justify-content-center">
                <label class="form-label">
                  {{'reset.password.repeat' | translate}}
                </label>
                <div class="input-group justify-content-start align-items-center">
                  <input formControlName="repeatPass" type="password" class="form-control"
                         aria-describedby="password input" autocomplete="on"/>
                  <span
                    *ngIf="!resetPasswordForm.get('repeatPass').valid && resetPasswordForm.get('repeatPass').touched">
                        <span *ngIf="resetPasswordForm.get('repeatPass').errors['required']" class="formError">
                          {{'Size.registerForm.password' | translate: {min: minPassLength, max: maxPassLength} }}
                        </span>
                        <span *ngIf="resetPasswordForm.get('repeatPass').errors['maxlength']" class="formError">
                        {{'Size.registerForm.password.max' | translate: {max: maxPassLength} }}
                        </span>
                        <span *ngIf="resetPasswordForm.get('repeatPass').errors['minlength']" class="formError">
                        {{'Size.registerForm.password.min' | translate: {min: minPassLength} }}
                        </span>
                        <span *ngIf="resetPasswordForm.get('repeatPass').errors['passwordsDontMatch']"
                              class="formError">
                        {{'validation.user.passwordsDontMatch' | translate}}
                        </span>
                      </span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center">
              <div class="col-6 px-0 d-flex align-items-center justify-content-center">
                <button [disabled]="disable" class="w-100 btn btn-outline-dark reg-btn">
                      <span *ngIf="!disable">
                        {{'reset.password.changePass' | translate}}
                      </span>
                  <span class="spinner-border spinner-border-sm" [hidden]="!disable"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-template #doneBlock>
        <div class="col-12 h-25 d-flex justify-content-center align-items-center" style="background: whitesmoke">
          <h4>{{ 'reset.success' | translate}}</h4>
        </div>
        <div class="col-12 h-25 d-flex justify-content-center align-items-center notFound-btn">
          <a type="button" class="btn btn-dark btn-notfound" routerLink='/login' style="margin-bottom: 20px;">
            {{'navBar.logIn' | translate}}
          </a>
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="container-fluid p-0 bg">
      <div class="center">
        <div class="row">
          <div class="col-12 h-25 d-flex justify-content-center align-items-center">
            <h1>{{'reset.expired' | translate}}</h1>
          </div>
          <div class="col-12 h-25 d-flex justify-content-center align-items-center notFound-btn">
            <a type="button" class="btn btn-dark btn-notfound" routerLink='/'>
              <fa-icon [icon]="homeIcon"></fa-icon>
              {{'navBar.home' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>


